:root {
  --brand-color: #212121;
  --brand-color: #2196f3;
  --brand-color: #ffffff;
  --brand-color: #757575;
  --brand-color: rgba(117, 117, 117, 0.6);
  --brand-baground-color: #2f303a;
  --brand-font-family: Roboto;
  --brand-font-family: Raleway;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.172;
  text-decoration: none;
}
.logo-color {
  color: #2196f3;
}
.active-blue:focus,
.active-blue:hover,
.active-blue:active {
  color: #2196f3;
}
.link {
  font-weight: 500;
  text-decoration: none;
  color: #212121;
}
.buttons:focus,
.buttons:hover,
.buttons:active {
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
}
.buttons {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  background-color: #f5f4fa;
}
.main-title {
  color: #ffffff;
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
}
.title {
  font-size: 36px;
  line-height: 1.172;
}
.rules {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
}
.explain-rules {
  color: #757575;
  font-size: 14px;
  line-height: 1.72;
}
.our-teamat {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
}
.product {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.specialization {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.172;
}
.types {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

address {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  background-color: #2f303a;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.172;
  text-decoration: none;
}
.contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  font-style: normal;
  text-decoration: none;
}

.contact-footer {
  color: rgba(117, 117, 117, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  font-style: normal;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
